@import '../../colors/colors'

// This file is left as css for comparison to other styl files
// .container
// background-color background
// padding: 20px
.tickerInputContainer
    margin-bottom 360px
    margin-top 50px

.inputTicker
    font-size x-large !important

.uppercase
    text-transform uppercase

.mainInput
    text-align center

.mainButton
    margin 10px

.borderBottom:not(:last-child)
    border-bottom 1px solid #d4d4d4

.autoCompleteTextSelected
    background-color inputSuggestionActive !important

.autoCompleteText:hover
    background-color inputSuggestionHover

.autoCompleteText
    padding 10px
    cursor pointer
    background-color #fff
    composes borderBottom

.searchSuggestionContainer
    border 1px solid #d4d4d4
    text-align left
    width 540px
    position absolute

.intervalType
    display inline-flex

.intervalTypeEach
    padding-left 10px

.intervalTypeText
    padding-top 2px
    font-size large