@import '../../colors/colors'

// https://gyazo.com/f5c7de2dd21d595b6db41247225cb218
.heading
    background headerBackground
    padding 5px
    text-align center
    margin 0px
    // height 80px
    // position fixed
    left 0px
    right 0px
    top 0px
    // border-bottom-right-radius 5px
    border-bottom-left-radius 5px

.customPaddingLeft
    // padding-left 80px !important

.customPaddingRight
    // padding-right 125px !important
    // text-align right

.container
    width auto

.headerText
    color white

@media (min-width: 992px)
    .customPaddingLeft
        padding-left 80px !important
    .customPaddingRight
        padding-right 125px !important
        text-align right

// .headerText
// padding-left 0px
// margin-right 0px
// display inline-flex

// .loginProfile
// display inline-flex
// padding-left 121px
.logInButton
    background-color bloodOrange
    display inline-block

.logInText
    color lightBlue2

.routes
    display inline-block
    padding-left 15px
    padding-right 15px

.textMarginTop
    margin-top 7px

.rightHeader
    composes customPaddingRight