@import '../../colors/colors'

.container
    background-color coureselContainer
    padding 50px

.eachItemInCycle
    background white
    height 300px
    text-align center
    display table-cell
    vertical-align middle
    padding 20px

.eachItemInCycleContainer
    display table !important

.explainationBoxes
    // border 1px solid black
    padding 20px

.explainationBoxesInside
    // border 1px solid white
    height 115px
    color introTextColor
    font-size large
    background-color introBackgroundColor
    padding 20px
    text-align center
    box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.1)