@import '../../colors/colors'

.container
    background-color coureselContainer
    padding 50px

.eachItemInCycle
    background white
    height 300px
    text-align center
    display table-cell
    vertical-align middle
    padding 20px

.eachItemInCycleContainer
    display table !important