background = lightBlue
mainColor = cloudyBlue
inputSuggestionActive = rgb(0, 123, 255)
inputSuggestionHover = cloudyBlue
bodyColor = white
cloudyBlue = rgba(100, 198, 255, 0.961)
lightBlue = #f1fdfff5
navyBlue = #000080
backgroundTitle = #9933ff
alternatePurple = #493595
lightBlueVeryClear = #f1fdfff5
tag = #fb5f26
lightBlue2 = rgba(193, 223, 255, 0.941)
coureselContainer = rgb(202, 233, 255)
// softPurple = rgb(246, 242, 255)
tableSelect = bluePrimary
tableBackground = #007bffc7
tableTextColor = white
tableCheckBoxColor = bluePrimary
tableCheckActiveTextColor = white
bluePrimary = #007bfff0
footer = cloudyBlue
spinner = bluePrimary
leftMenu = aquaWithTransparency
rightMenu = aquaWithTransparency
headerBackground = cloudyBlue
// aquaWithTransparency =rgba(53, 231, 206, 0.55)
aquaWithTransparency = #ffffff82
aquaWithMoreTransparency =rgba(53, 141, 231, 0.21)
introTextColor = white
introBackgroundColor = #007bffc7

clear = rgba(0, 0, 0, 0)
facebook = #3b5998
transparent = rgba(0, 0, 0, 0)
silver = #F7F7F7
steel = #CCCCCC
error = rgba(200, 0, 0, 0.8)
ricePaper = rgba(255, 255, 255, 0.75)
frost = #D8D8D8
cloud = rgba(200, 200, 200, 0.35)
windowTint = rgba(0, 0, 0, 0.4)
panther = #161616
charcoal = #595959
coal = #2d2d2d
bloodOrange = rgb(255, 90, 30)
// bloodOrange = #fb5f26
snow = white
ember = rgba(164, 0, 48, 0.5)
fire = #e73536
drawer = rgba(30, 30, 29, 0.95)
eggplant = #251a34
border = #483F53
banner = #5F3E63

:export
    background background
    lightBlue lightBlue
    navyBlue navyBlue
    backgroundTitle backgroundTitle
    alternatePurple alternatePurple
    tag tag
    spinner spinner

    clear clear
    facebook facebook
    transparent transparent
    silver silver
    steel steel
    error error
    ricePaper ricePaper
    frost frost
    cloud cloud
    windowTint windowTint
    panther panther
    charcoal charcoal
    coal coal
    bloodOrange bloodOrange
    snow snow
    ember ember
    fire fire
    drawer drawer
    eggplant eggplant
    border border
    banner banner
    bluePrimary bluePrimary
    tableSelect tableSelect
    tableTextColor tableTextColor
    tableBackground tableBackground
    tableCheckBoxColor tableCheckBoxColor
    tableCheckActiveTextColor tableCheckActiveTextColor
    coureselContainer coureselContainer
    headerBackground headerBackground
    bodyColor bodyColor
    mainColor mainColor
    inputSuggestionHover inputSuggestionHover
    inputSuggestionActive inputSuggestionActive
    introTextColor introTextColor
    introBackgroundColor introBackgroundColor