@import '../../colors/colors'

// This file is left as css for comparison to other styl files
.container
    background-color bodyColor
    // padding: 20px

.eachContainer
    padding-top 100px
    padding-bottom 80px
    border-bottom 10px solid white